<div class="logo">
  <img src="../../assets/images/logo.png" height="60px" alt="" />
</div>
<div class="d-flex" style="height: calc(100% - 92px)">
  <div
    style="width: 400px; margin: 7% auto"
    class="shadow p-3 bg-body rounded p-5"
  >
    <p
      class="fw-bolder text-center"
      style="font-size: 25px; font-weight: 900 !important"
    >
      RESET PASSWORD
    </p>
    <p class="text-center sub-heading">
      Please provide following details to reset your password
    </p>

    <form [formGroup]="resetPassword">
      <div class="row mt-2" style="position: relative">
        <input
          type="password"
          placeholder="New Password"
          class="form-control"
          formControlName="password"
        />
        <i class="fa-solid fa-eye-slash"></i>
        <div
          *ngIf="
            resetPassword.get('password')?.hasError('required') &&
            resetPassword.get('password')?.touched
          "
          style="color: red; line-height: 1; height: 7px"
        >
          Password is required
        </div>
        <div
          *ngIf="
            resetPassword.get('password')?.hasError('minlength') &&
            resetPassword.get('password')?.touched
          "
          style="color: red; line-height: 1; height: 7px"
        >
          Password length should be greater than 8
        </div>
      </div>

      <div class="row mt-4">
        <input
          type="password"
          placeholder="Confirm Password"
          class="form-control"
          formControlName="confirmpass"
        />

        <div
          *ngIf="
            resetPassword.get('confirmpass')?.hasError('passdidntmatch') &&
            resetPassword.get('confirmpass')?.touched
          "
          style="color: red; line-height: 1; height: 7px"
        >
          Password did not match
        </div>
      </div>
    </form>

    <div class="btn-wrapper">
      <div class="">
        <button type="button" class="btn" id="submit_btn" (click)="reset()">
          Submit
        </button>
      </div>
      <div class="">
        <button
          type="button"
          class="btn btn-light"
          routerLink="/forgotpassword"
          id="back_btn"
        >
          Back
        </button>
      </div>
    </div>
  </div>
</div>
