.logo{
  padding-top: 27px;
}
.form-control {
  border-radius: 50px;
}

#submit_btn {
  position: absolute;
  position: relative;
  text-align: center;
  color: #fff;
  cursor: pointer;
  border-radius: 50px;
  background-image: linear-gradient(to left, #21CE99, #1AF5B2);
  border-color: #1AF5B2;

}

#back_btn {
  text-align: center;
  color: #fff;
  cursor: pointer;
  border-radius: 50px;
  background-image: linear-gradient(to left, gray, gray);
}

.sub-heading {
  font-size: 14px;
  color: gray;
  font-weight: 100;
}

input {
  text-indent: 20px;
}

.fa-eye-slash {
  position: absolute;
  width: max-content;
  right: 0;
  font-size: 22px;
  color: gray;
  top: 9px;
}

.btn-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 22px;
}