.btn {
  /* width: 100%;
    height: 60px; */
  text-align: center;
  /* line-height: 60px; */
  color: #fff;
  /* font-weight: bold;
    letter-spacing: 1px; */
  cursor: pointer;
  /* margin-bottom: 20px; */
  border-radius: 50px;
  background-image: linear-gradient(to left, #21CE99, #1AF5B2);
  border-color: #1AF5B2;
}

.form-control {
  border-radius: 50px;
}

.forget-box {
  width: 400px;
  margin: 7% auto;
}

@media (max-width: 480px) {
  .forget-box {
    width: 85vw;
    margin: 7% auto;
  }

}