<div class="main-wrapper">
  <header
    style="
      margin-inline: 80px;
      padding-top: 45px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    "
  >
    <div class="logo">
      <img src="../../assets/images/logo.png" height="60px" alt="" />
    </div>
    <div class="btn btn-light" routerLink="/signUp" id="btn_signup">
      Sign Up
    </div>
  </header>

  <div class="">
    <div class="text m-5 p-5 home-title">
      <h1 style="font-weight: 500">
        <span style="color: #21ce99; font-weight: 900">Recruit</span> your
      </h1>
      <h1 style="font-weight: bold">Project Team</h1>
      <h1>at a Click</h1>
      <div class="btn btn-primary" routerLink="/signUp" id="explore">
        Explore
      </div>
    </div>
    <div class="tag" style="border-radius: 10px; width: 353px">
      lorem ipsum
      <i class="fa fa-check-circle" style="font-size: 15px; color: aqua"></i>
      <p style="font-size: 11px; color: grey">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo,
        alias provident obcaecati minus illo quos quibusdam, ab sed vitae sunt
        modi fuga enim aspernatur repellat inventore beatae veniam
        necessitatibus qui!
      </p>
    </div>
  </div>
</div>
