<app-navbar></app-navbar>
<div class="container">
  <div class="row m-2">
    <p>Payment History</p>
    <hr />
  </div>
  <table class="tables table mt-2">
    <thead>
      <tr>
        <th scope="col" class="time">Time</th>
        <th (click)="sort('createdAt')" scope="col" class="date">
          <i class="fas fa-sort"></i> &nbsp; Date
          <span *ngIf="sortBy === 'createdAt'">
            <i
              class="bi"
              [ngClass]="isReverse ? 'bi-sort-up' : 'bi-sort-down'"
            ></i>
          </span>
        </th>
        <th (click)="sort('amount')" scope="col" class="amount">
          <i class="fas fa-sort"></i>&nbsp; Amount
          <span *ngIf="sortBy === 'amount'">
            <i
              class="bi"
              [ngClass]="isReverse ? 'bi-sort-up' : 'bi-sort-down'"
            ></i>
          </span>
        </th>
        <th (click)="sort('fullName')" scope="col" class="name">
          <i class="fas fa-sort"></i>&nbsp; Recruiter Name
          <span *ngIf="sortBy === 'fullName'">
            <i
              class="bi"
              [ngClass]="isReverse ? 'bi-sort-up' : 'bi-sort-down'"
            ></i>
          </span>
        </th>
      </tr>
    </thead>
    <tbody
      *ngFor="
        let obj of paymentHistory
          | paginate
            : {
                itemsPerPage: this.itemsPerPage,
                currentPage: this.currentPage,
                totalItems: this.totalItems
              }
      "
    >
      <tr>
        <th scope="row">{{ obj.createdAt | date: "mediumTime" }}</th>
        <td>{{ obj.createdAt | date: "dd/MM/yyyy" }}</td>
        <td>{{ obj.amount }}</td>
        <td>{{ obj.fullName }}</td>
      </tr>
    </tbody>
  </table>

  <pagination-controls (pageChange)="changePage($event)"></pagination-controls>
</div>
